/*VERDES//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
.estado:hover {
    fill: var(--verde_claro)
}
.estado {
    fill: var(--verde);
}
body {
    background-color: var(--verde_escuro);
    margin: 0;

    /* cores de texto */
    --text-white: #ffffff;
    --text-dark: #143614;

    /* cores de fundo */
    --bg-grey-light: #f5f5f5;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
}
.btn {
    background-color: var(--verde_claro);
    color: var(--verde_escuro_Dm_claro);
}

.btn2 {
    background-color: var(--verde_claro);
    color: var(--verde_escuro_Dm_claro);


}
.mapa {
    background-color: #ffffff;
    border: solid 15px var(--verde_claro);
}
.switch>span.on {

    color: var(--verde_claro);
}
input.check-toggle-round-flat:checked~.off {
    color: var(--verde_claro);
}
input.check-toggle-round-flat+label {

    background-color: var(--verde_claro);

}
input.check-toggle-round-flat+label:before {

    background-color: var(--verde_claro);
}
.h1 {
    color: var(--verde_escuro);
    border-bottom: 5px solid var(--verde_escuro);

}

.h1-2 {
    color: var(--verde_escuro);
    border-bottom: 5px solid var(--verde_escuro);
}
.tituloAviso {

    border-bottom: 3px solid var(--verde_escuro);
    color: var(--verde_escuro);
}

.p2 {

    color: var(--verde_escuro);

}

.btn3 {
    background-color: var(--verde_claro);
    color: var(--verde_escuro);

}

.btn4 {
    background-color: var(--verde_claro);
    color: var(--verde_escuro);
}

.filtro2__links {
    color: var(--verde_claro);
}
.modal_info_conteudo2 {


    background-color: var(--verde_claro);
}
.estado {
    fill: var( --verde);
}

.estado:hover {
    fill: var(--verde);
}



.sun {

    background: radial-gradient(circle, rgba(0, 0, 0, 0) 50%, var(--verde_claro) 50%);
}

.sun:before {

    background: radial-gradient(circle, var(--verde_claro) 30%, rgba(0, 0, 0, 0) 30%, rgba(0, 0, 0, 0) 50%, var(--verde_claro) 50%);

}

.moon {

    background-color: rgba(0, 0, 0, 0);

    box-shadow: 9px 3px 0px 0px var(--verde_claro);

}

.star {

    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid var(--verde_claro);
    border-left: 7px solid rgba(0, 0, 0, 0);

}

.star:before {
    border-bottom: 5px solid var(--verde_claro);
    border-left: 3px solid rgba(0, 0, 0, 0);
    border-right: 3px solid rgba(0, 0, 0, 0);

}

.star:after {
    color: red;

    border-right: 7px solid rgba(0, 0, 0, 0);
    border-bottom: 5px solid var(--verde_claro);
    border-left: 7px solid rgba(0, 0, 0, 0);

}
/*VERDES//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  





/*BRANCOS//////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
.header1 {
    background: #ffffff;

}

.header2 {

    border-bottom: 2px solid rgb(211, 211, 211);
    background-color: #F8F8F8;
}

.filtro {

    background-color: #ffffff;

}
.footer {
    background-color: #F8F8F8;
    color: var(--verde_escuro);
    color: #373737;

}
input.check-toggle-round-flat:checked~.on {
    color: #fff;
}



.switch>span.off {

    color: #fff;
}





input.check-toggle-round-flat+label:after {

    background-color: #fff;
}
.modal_info_conteudo {


    background-color: white;
    border: 20px solid var(--verde_claro);
}
.corDiferenteFooter {
    color: #959595;
}
.cinza {
    background-color: #D9D9D9;

}

.btn_x button {

    background-color: white;

}
.modal_aviso_Filtro {


    background-color: #f8f8f8;
    border: 2px solid var(--verde_escuro);

}



.slider {

    background-color: #BEC3C3;
    border: 2px solid #A7AFB0;
    box-shadow: 0 1px 2px #8f8f8f;

}

.slider:before {

    background-color: #ffffff;
}
input:checked+.slider:before {

    background-color: #ffffff;
}

.filtro2 {

    background-color: #ffffff;

}
.info-Elementos {

    border: 1px solid #fff;

}
.imagemEx2 {
    background-color: #ffffff;
    border: clamp(0.3em, 0.3em + 0.3vw, 0.5em) solid var(--amarelo_Dm_escuro);

}

.btn_x2 button {


    background-color: #ffffff;

}

.footer__painel {
    border-top: 4px solid rgb(177, 177, 177);

    background-color: rgb(255, 255, 255);

    color: rgb(0, 0, 0);

}

.menu {

    background-color: rgb(255, 255, 255);
    border: 4px solid rgb(177, 177, 177);
}

.pesquisa {

    background-color: #fff;
    border: 2px solid var( --verde);
}
.info-all h6:hover {

    background-color: darkgray;
}

.menuSobe {
    background-color: rgb(247, 247, 247);

}

/*BRANCOS/CINZAS/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  



/*AMARELO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  
.titulo {
    border-top: 7px solid var(--amarelo);
}
.item a:hover {
    border-color: var(--amarelo);

}
input:checked+.slider {
    background-color: var(--amarelo_Dm_escuro);
    border: 2px solid var(--amarelo_Dm_escuro);
}



.titulo2 {
    border-top: 7px solid var(--amarelo);

    color: var(--verde_claro);
}
.amarelo2 {
    background-color: var(--amarelo);

}


/*AMARELO/////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/  







.input {
    border: 2px solid black;

}



.mapa__svg {
    background-color: var(--lightblue);
}

a {
    color: #000000;
}











.modal_info {

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.24);

}







.modal_aviso {
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.24);
}




.input2 {
    border: 2px solid black;
}


.interrogacao {

    color: #fff;

    background-color: #0F4DC5;

}



.info-Elementos h4 {

    color: #143614;

}

.modal_info2 {

    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.24);


}






.info-all h6 {

    border: 1px solid black;

}




.mapa__svg {

    background-color: var(--lightblue);
}

@media screen and (max-width: 2560px) {

    .filtro2 {

        border: 4px solid var( --verde);

    }

    .peneira3 h3 {

        color: #000;
    }

    .btn3 {

        background-color: var(--verde_claro);
        color: #000;

    }
}

@media screen and (max-width: 1440px) {
    .filtro .titulo {
        border-top: 5px solid var(--amarelo);

    }
}

@media screen and (max-width: 1280px) {
    .filtro .titulo {
        border-top: 5px solid var(--amarelo);
    }

}

@media screen and (max-width: 1024px) {
    .filtro .titulo {
        border-top: 5px solid var(--amarelo);
    }
}

@media screen and (max-width: 820px) {
    .filtro2 {

        border: 4px solid var( --verde);

    }

    .btn3 {
        background-color: var(--verde_claro);
        color: #000;
    }

    .corDeFundo {
        background-color: #000;
    }

    .peneira3 h3 {

        color: #000;
    }

    .tooltip:before {
        content: attr(data-text);

        position: absolute;

        bottom: 90%;
        margin-bottom: 15px;

        left: 12%;
        transform: translateX(3%);



        border-style: solid;
        border-color: var(--amarelo);

        background: var(--amarelo);
        color: #000;

    }

    .tooltip:after {

        border: 11px solid var(--amarelo);
        border-color: transparent var(--amarelo) transparent transparent;



    }

    .mapa {

        border: 6px solid var(--verde_claro);
    }

    .mapa__svg {
        background-color: #fff;
    }

}

@media screen and (max-width: 430px) {
    .mapa {

        border: solid 6px var(--verde_claro);
    }

    .mapa__svg {
        background-color: #fff;
    }

    .footer {

        border-color: var(--verde_claro);
    }

    .mapa {

        border-color: var(--verde_claro);

    }

    .filtro2 {
        border: 4px solid var( --verde);
    }

    .titulo2 {
        border-top: 6px solid var(--amarelo);
        color: var(--verde_claro);
    }

    .peneira3 h3 {

        color: #000;
    }

    .btn3 {
        background-color: var(--verde_claro);
        color: #000;

    }

    .poco {
        background-color: #7F7E8B;
    }
}


@media screen and (max-width: 1440px) {
    .filtro .titulo {

        border-top: 5px solid var(--amarelo);

    }
}

@media screen and (max-width: 1280px) {
    .filtro .titulo {

        border-top: 5px solid var(--amarelo);

    }
}

@media screen and (max-width: 1024px) {
    .filtro .titulo {

        border-top: 5px solid var(--amarelo);

    }
}

@media screen and (max-width: 820px) {
    .mapa {

        border: 6px solid var(--verde_claro);
    }

    .mapa__svg {
        background-color: #fff;
    }

}

@media screen and (max-width: 425px) {
    .mapa {

        border: 6px solid var(--verde_claro);
    }

    .mapa__svg {
        background-color: #fff;
    }

    .footer {

        border-color: var(--verde_claro);

    }

    .mapa {

        border-color: var(--verde_claro);

    }

    .filtro2 {

        border: 4px solid var( --verde);

    }

    .peneira3 h3 {

        color: #000;
    }

    .btn3 {
        background-color: var(--verde_claro);
        color: #000;

    }

    .corDeFundo {
        background-color: #000;
    }

}




