body {

    margin: 0;

     /* cores de texto */
  --text-white: #ffffff;
  --text-dark: #143614;

    /* cores de fundo */
    --bg-grey-light: #f5f5f5;
    --bg-white: #ffffff;
    --bg-blue-dark: #142136;
    --bg-indigo: #6366f1;
}

.header1 {

    display: grid;
    grid-template-columns: 10% 20% auto;
    align-items: center;
    padding-inline: 2%;
}
.header2 {
    display: grid;
    grid-template-columns: 30% 40% 30%;
    align-items: center;
    padding-inline: 2%;
    text-align: center;

}

.c2{
    margin: 3%;
}

.recheio{
    display: grid;
    grid-template-columns: 70% 3% 27%;
    padding-inline: 2%;
    margin: 1%;
    height: 80.2vh;
}
.filtro{
    border-radius: 3em;

    height: 68vh;
    width: 90%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}
.peneira{
  display: grid;
  grid-template-columns: auto 50%;
  padding: 5px;
  padding-inline: 10%;
  text-align: center;
}
.btn_container{
  text-align: center;
  margin: 2%;
}
.btn{

  height: 4.3vh;
  font-size: 1.3em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
  
}
.btn2{

  height: 3vh;
  width: 5vw;
  font-size: 1em;
  font-weight: bold;
  border-radius: 1em;
  cursor: pointer;
  
}
.titulo{

  text-align: center;
  margin: 5%;
}
.txt{
  text-align: center;
  margin: 5%;
}
.input{

    height: 45px;
    text-align: center;
    font-size: 1em;
}

.mapa {

    max-height: 79vh;
    width: auto;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
}

* {

    padding: 0;
    margin: 0;
    border: none;
   
    box-sizing: border-box;
    font-family: "Raleway Especial";
}

.grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    gap: 10px;
    text-align: center;
}



.item {
    font-size: 0.9em;
}
.img{
    margin: 5%
}

@media screen and (min-width: 600px) {
    .grid {
        justify-content: flex-end;
    }

    .item {
        margin-right: 1em;
        text-align: center;
    }
}

@font-face {
    font-family: "Raleway Especial";
    src: url(PlastoTrial-Regular.otf);
}



.container {
    display: grid;
    grid-template-columns: 100%;
}



.footer{

    width: 100%;

    text-align: center;

    align-items: center;
    
}

.footer p{
  font-family: 'Open Sans', sans-serif;
}

.modal_info .modal_info_conteudo .modal_recheio h4{
  font-family: 'Open Sans', sans-serif;
}

a {

  text-decoration: none;
  display:inline-block;
  text-align: right;
  transition: 600ms;
  border-bottom: 3px solid transparent;
}

.item a:hover{

transform: scaleX(1);
  transform-origin: left;

}













.switch {
    position: relative;
    display: inline-block;
    margin: 5px 5px 0px 5px;
    text-align: center;
  }
  
  .switch > span {
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
    align-items: center;
  }


  
  .switch > span.on {
    left: 0;
    padding-left: 2px;

  }
  
  .switch > span.off {
    right: 0;
    padding-right: 4px;

  }
  
  .check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
    
  }
  .check-toggle + label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    
  }
  
  input.check-toggle-round-flat + label {
    padding: 2px;
    width: 97px;
    height: 35px;

    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:before, input.check-toggle-round-flat + label:after {
    display: block;
    position: absolute;
    content: "";
  }
  
  input.check-toggle-round-flat + label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;

    
    -moz-border-radius: 60px;
    -ms-border-radius: 60px;
    -o-border-radius: 60px;
    border-radius: 60px;
  }
  input.check-toggle-round-flat + label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 48px;

    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.6s;
    -moz-transition: margin 0.6s;
    -o-transition: margin 0.6s;
    transition: margin 0.6s;
  }
  
  
  input.check-toggle-round-flat:checked + label:after {
    margin-left: 44px;
  }

/* css modal do btn info no filtro*/
  .modal_info{
    display: none;
    position: fixed;
    z-index: 3; 
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;

    
    
  }
  .modal_info{
    display: none;
    position: fixed;
    z-index: 3; 
    padding-top: 5%;
    width: 100vw;
    height: 100vh;
    top: 0;
    right: 0;

    
  }
  .modal_info_conteudo{
    
    overflow:scroll;
    margin: auto;
    width: 90%;
    height: 90%;

  }
  .modal_recheio{
    margin: 30px;
    
  }
  .h1{

    text-align: left;


    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: bold;
  
    
  
  }
  .h1-2{

    text-align: center;

    font-size: clamp(1.5rem, 1.5vw, 2rem);
    font-weight: bold;
    width: auto;
  }
  .final{
    padding-inline: 20%;
  }
  .final h1{
    border: none;
     text-align: center;
      margin: 30px;
       font-size: auto;
   
  }

  .img_txt{
    display: grid;
    grid-template-columns: auto auto;
    width: auto;
  }
  .img_txt img{
    height: 30px;
    width: auto;
    margin-inline: 15px;
  
  }
  
  .btn_x button{
   
    border-radius: 60%;
    border: none;
    position:fixed;
    right: 12%;
    height: 50px;
  
    margin: 10px;
    cursor: pointer;
  }
  .h4{
    margin: 10px;
    margin-bottom: 30px;
    text-align: left;
    padding: 10px;
    font-size: 1.4em;
    font-weight:normal;
  }
/* fim do css modal do btn info no filtro*/

.modal_aviso{
  display: none;
  position: fixed;
  z-index: 3;
  padding-top: 5%;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: 0;

}

.modal_aviso_Filtro{
 
  margin: auto;
  width: 20%;
  height: 20%;

  border-radius: 2rem;

  align-items: center;
  box-shadow: 0 4px 4px -2px #989898;
  -moz-box-shadow: 0 4px 4px -2px #989898;
  -webkit-box-shadow: 0 4px 4px -2px #989898;
}


.tituloAviso{
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  /* font-size: 100%; */
  font-size: 1.5rem;

  width: 190px;

  text-align: center;
}



.filtro_aviso .imagem_aviso{

  display: flex;
  justify-content: flex-end;
  margin: 10px 10px 0 0;
}

.filtro_aviso .txt_aviso{

  display: flex;
  flex-direction: column;
  align-items: center;
}




.p1{
  font-size: 90%;
  text-align: center;
  padding: 1rem;

}

.p2{
  font-size: 85%;
  text-align: center;

  font-weight: bold;
}
