.info-all{
    display: none;
}

.info-all h2{
    text-align: center;
    text-transform: uppercase;
}

.info-all h6{
    
    padding: 10px 0 10px 0;
    font-size: 13px;
    border: 1px solid black;
    border-radius: 20px;
    width: 140px;
    text-align: center;
    margin: 5% auto;
    cursor: pointer;
}

.info-all h6:hover{

    background-color: darkgray;
}